<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updated</title>
    <link rel="stylesheet" href="updatestyle.css">
</head>
<body>
    <header>
        <img src="images/SESS - Copy.png" alt="">
        <div class="link_btn">
            <a href="/">Home</a>
            <a href="/leaderboard" target="_blank">Leaderboard</a>
        </div>
        
    </header>
    
    <h1>Updated</h1>
    
    <main> 
        <form class="mainDiv" action="/" method="GET">
            <p>Name:</p>
            <input name="userName" type="text" readonly value="{{_data.name}}">

            <p>Email:</p>
            <input name="userEmail" type="text" readonly value="{{_data.email}}">

            <p>Bridge Length:</p>
            <input name="userLen" type="text" readonly value="{{_data.brgLen}}">

            <p>Weight:</p>
            <input name="userWeight" type="text" readonly value="{{_data.brgWeight}}">

            <button type="submit">New</button>
        </form>
    </main>
</body>
</html>