<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="updatestyle.css">
</head>
<body>
    <header>
        <img src="images/SESS - Copy.png" alt="">
        <div class="link_btn">
            <a href="/">Home</a>
            <a href="/leaderboard" target="_blank">Leaderboard</a>
        </div>
        
    </header>
    
    <h1>Update Leaderboard</h1>
    <main>
        
        <form class="mainDiv" action="/update" method="POST">
            <p>Name:</p>
            <input name="userName" placeholder="Enter Name" type="text" id="name" class="form__field">

            <p>Email:</p>
            <input name="userEmail" placeholder="Enter Email" type="text">

            <p>Bridge Length:</p>
            <input name="userLen" placeholder="Enter Length" type="text">

            <p>Weight:</p>
            <input name="userWeight" placeholder="Enter Weight" type="text" value="30">

            <button type="submit">Update</button>
        </form>
    </main>
</body>
</html>