@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');

:root {

  --lexend-100: 100;
  --lexend-200: 200;
  --lexend-300: 300;
  --lexend-400: 400;
  --lexend-500: 500;
  --lexend-600: 600;
  --lexend-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  font-weight: var(--lexend-300);
}

body {
  min-height: 100vh;
  background: url('../src/assets/images/boliviainteligente-byrCe8CiWl4-unsplash.jpg') center / cover;
  font-family: var(--lexend-400);
  display: block;
}

